<%= render partial: "header"%>


		<section id="portfolio-section">
			<div class="container">
				<h3 class="uppercase text-center">업로드 된 동영상</h3>
				<div id="portfolio-home" class="isotope home-project-3col">
					<div class="project-item illustration print">
						<div class="project-gal">
							<img src="/images/projects/3.jpg" class="img-responsive" alt="">
							<div class="overlay-folio">
								<div class="hover-box">
									<div class="hover-zoom">
										<a class="mp-lightbox zoom" href="/images/projects/3.jpg"><i class="icon-plus2"></i></a>
										<a class="link" href="portfolio-single-slider.html"><i class="icon-link3"></i></a>					
									</div>
								</div>
							</div>
						</div>
						<div class="project-info">
							<h2>Cras ornare tristique elit</h2>
							<p>Photoshop</p>
						</div>
					</div>
					<div class="project-item photography web-design">
						<div class="project-gal">
							<img src="/images/projects/4.jpg" class="img-responsive" alt="">
							<div class="overlay-folio">
								<div class="hover-box">
									<div class="hover-zoom">
										<a class="mp-lightbox zoom" href="/images/projects/4.jpg"><i class="icon-plus2"></i></a>
										<a class="link" href="portfolio-single-slider.html"><i class="icon-link3"></i></a>					
									</div>
								</div>
							</div>
						</div>
						<div class="project-info">
							<h2>Praesent placerat risus quis</h2>
							<p>UI/UX, Web Design</p>
						</div>
					</div>
					<div class="project-item branding">
						<div class="project-gal">
							<img src="/images/projects/5.jpg" class="img-responsive" alt="">
							<div class="overlay-folio">
								<div class="hover-box">
									<div class="hover-zoom">
										<a class="mp-lightbox zoom" href="/images/projects/5.jpg"><i class="icon-plus2"></i></a>
										<a class="link" href="portfolio-single-slider.html"><i class="icon-link3"></i></a>					
									</div>
								</div>
							</div>
						</div>
						<div class="project-info">
							<h2>Ut aliquam sollicitudin</h2>
							<p>Web Development</p>
						</div>
					</div>
					<div class="project-item illustration web-design print">
						<div class="project-gal">
							<img src="/images/projects/6.jpg" class="img-responsive" alt="">
							<div class="overlay-folio">
								<div class="hover-box">
									<div class="hover-zoom">
										<a class="mp-lightbox zoom" href="/images/projects/6.jpg"><i class="icon-plus2"></i></a>
										<a class="link" href="portfolio-single-slider.html"><i class="icon-link3"></i></a>					
									</div>
								</div>
							</div>
						</div>
						<div class="project-info">
							<h2>Cras ornare tristique</h2>
							<p>Creative, Web</p>
						</div>
					</div>
					<div class="project-item illustration web-design">
						<div class="project-gal">
							<img src="/images/projects/8.jpg" class="img-responsive" alt="">
							<div class="overlay-folio">
								<div class="hover-box">
									<div class="hover-zoom">
										<a class="mp-lightbox zoom" href="/images/projects/8.jpg"><i class="icon-plus2"></i></a>
										<a class="link" href="portfolio-single-slider.html"><i class="icon-link3"></i></a>					
									</div>
								</div>
							</div>
						</div>
						<div class="project-info">
							<h2>Aliquam tincidunt risus.</h2>
							<p>Image Gallery</p>
						</div>
					</div>
					<div class="project-item photography branding">
						<div class="project-gal">
							<img src="/images/projects/10.jpg" class="img-responsive" alt="">
							<div class="overlay-folio">
								<div class="hover-box">
									<div class="hover-zoom">
										<a class="mp-lightbox zoom" href="/images/projects/10.jpg"><i class="icon-plus2"></i></a>
										<a class="link" href="portfolio-single-slider.html"><i class="icon-link3"></i></a>					
									</div>
								</div>
							</div>
						</div>
						<div class="project-info">
							<h2>Aliquam erat volutpat</h2>
							<p>Image Gallery</p>
						</div>
					</div>
				</div>
			</div>
		</section>